<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OptimaliseRing.UI.Properties.Settings.Database_KKBA2_2009_10_13ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;|DataDirectory|\Databases\Database KKBA2 2009_10_13.mdb&quot;;Persist Security Info=True"
            providerName="System.Data.OleDb" />
        <add name="OptimaliseRing.UI.Properties.Settings.Database_KKBA2_2009_11_11ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;|DataDirectory|\Databases\Database KKBA2 2009_11_11.mdb&quot;;Persist Security Info=True"
            providerName="System.Data.OleDb" />
        <add name="OptimaliseRing.UI.Properties.Settings.Database_OptimaliseRing_2009_11_23ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;|DataDirectory|\Databases\Database OptimaliseRing 2009_11_23.mdb&quot;;Persist Security Info=True"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>
